*{
	margin: 0;
	padding: 0;
}
body{
  background-image: url(image/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.cw{
	color: white;
}
.cw:hover{
	color:#959595;
}
hr{
  background:white;
  border: 5px;
  height:5px;
  color: white;
}
.btn-outline-light{
	width: 250px;
	border-radius: 50px;
	/*height: 60px;*/
	font-weight: bold;
	font-size: 25px;
	border: 3px solid white;
}
.left{
	background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 9px );
-webkit-backdrop-filter: blur( 9px );
border-radius: 0px;
border: 1px solid rgba( 255, 255, 255, 0.18 )
}
p{
	color: white;
	font-size: 20px;
}
h1{
	color: white;
}
.line{
    border-left: 1px solid white;
    height: 80px;
    margin-top: -64px;
    margin-left: 50%;
    
}
.circle{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    margin-left: 47.6%;

}
.line2{
    border-left: 1px solid white;
    height: 80px;
    
    margin-left: 50%;
    
}
.circle2{
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    margin-left: 49.3%;
    }    
